
body {
    background: rgb(183,95,255);
    background: radial-gradient(circle, rgba(183,95,255,1) 0%, rgba(70,123,255,1) 100%);
}

header {
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.centerDiv {
    display:flex;
    font-weight:bold;
    justify-content:center;
    margin-top:20px;
    font-family: 'Raleway', sans-serif;
}



#logo {
    margin-top:8rem;
    display:none;
}



#introButtons {

    display:block;
    justify-content:space-between;
    margin-top:3rem;
    display:none;

}

.menuButton {

    display:inline-block;
   padding:0.35em 1.2em;
   border:0.1em solid #000000;
    margin: 0.2em;
   border-radius:0.9em;
   box-sizing: border-box;
   text-decoration:none;
    font-family: 'Raleway', sans-serif;
   font-weight:300;
   color:#000000;
   text-align:center;
   transition: all 0.5s;

}

.menuButton:hover{

    color:#FFFFFF;
    background-color:#000000;
}

/* Global
html{
    min-height: 100%;
    overflow: hidden;
}
*/
.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.selectedButton {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin: 0.2em;
    border-radius:0.9em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.5s;
    background-color: rgba(70,123,255,1);
}
.firstLine {
    display:none;
}
.secondLine {
    display:none;
}


#contact, #projects {
    display: none;
    justify-content:center;
    margin-top:20px;
    font-family: 'Roboto Thin', serif;
    width:50%;
    margin-left:25%;
    text-align:center;
    font-size:1rem;
}

hr {
    color: black;
}
#about {
    font-weight:bold;


    border-radius:20px;
    display: none;
    justify-content:center;
    margin-top:20px;
    font-family: 'Roboto Thin', serif;
    width:50%;
    margin-left:25%;
    text-align:center;
    font-size:1rem;
}



.soc {
    margin-top: 30px;
    display: block;
    list-style: none;
    text-align: center;
}
.soc li {
    display: inline-block;
}
.soc a, .soc svg {
    display: block;
}
.soc a {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
}
.soc svg {
    height: 100%;
    width: 100%;
}

.icon {
    background: black;
    border-radius: 100%;
    color: white;
    fill: white;
}
.icon:hover {

    color: black;
    fill: black;
}



.github {
    background: white;
    color: black;
    fill: black;
}
.github:hover {
    background: #6441a5;

}

.linkedin:hover {
    color: #007BB6;
    fill: #007BB6;
}


.anim-typewriter{
    animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,0);}
    to{border-right-color: transparent;}
}
